<launch>
  <param command="$(find xacro)/xacro $(find simplicity_description)/urdf/simplicity.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -z 0.182040214014 -model simplicity" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simplicity_description)/worlds/low_gravity.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->
  <include file="$(find simplicity_description)/launch/controller.launch"/>
</launch>
